<!DOCTYPE html>
<html>
    <head>
        {% include "include/head.html" %}

        <title>{% block status_code %}{% endblock %} ({% block status_message %}{% endblock %}) - Spotify Backup</title>

        {# Inline all files since we can not assume the server is well-behaving #}
        <style>
            html {
                height: 100vh;
                width: 100vw;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-content: center;
            }

            body {
                margin: auto;
                text-align: center;
                /* align-content: center; */
            }

            pre {
                text-align: left;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>{% block status_code %}{% endblock %} | {% block status_message %}{% endblock %}</h1>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <nav>
            <a href="/">return home</a>
        </nav>
        <footer>
            <section>
                <h4>Request ID</h4>
                <code>{{ request_meta.request_id }}</code>
            </section>
            <section>
                <h4>Region</h4>
                {{ request_meta.region }}
            </section>
            <section>
                <h4>Server</h4>
                <code>{{ request_meta.server.name }} {{ request_meta.server.version }}</code>
                <code>(commit <a href='{{ request_meta.server.source }}' target="_blank">{{ request_meta.server.commit }}</a>)</code>
            </section>
        </footer>
    </body>
</html>